
html, body {
  padding: 0;
  color: white;
  font-family: 'YuGothic', sans-serif;
}

html {
  font-size: 10px;
  background: radial-gradient(circle, rgba(235,200,215,1) 0%, rgba(97,127,162,1) 100%);
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

.about{
  height: 100%;
  background-color: #646ea3;
  margin-bottom: 5%;
}

.works{
  height: 100%;
  background-color: #f2efe8;
  color: #333;
  margin-bottom: 5%;
}

.works-container {
  border-width: thin;
  border-bottom: solid #c9c6c1;
  padding-bottom: 2em;
  margin-bottom:  4em;
}

.works--image-container {
  text-align: center;
}

.works--image {
  max-width: 30%;
  margin-bottom: 3em;
}

#artwork-background-maker{
  max-width: 80%;
}

.hidden-container label {
  text-align: center;
  display: block;
  margin: 2em auto;
  padding: 15px;
  font-weight: bold;
  cursor :pointer;
}

.hidden-container label:before {
  display: inline-block;
  content: '\f078';
  font-family: 'FontAwesome';
  padding-right: 5px;
  transition: 0.2s;
}

.hidden-container label:hover {
  text-shadow: 1px 1px 1px #afaba4;
}

.hidden-container input {
  display: none;
}

.hidden-container .test-automation, .code-pen{
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

.hidden-container .see-more::after{
  content: "もっとみる";

}.hidden-container input:checked ~ .see-more::after{
  content: "とじる";
}

.hidden-container input:checked ~ .hidden-work{
  height: auto;
  opacity: 1;
}

.hidden-container input:checked ~ label:before{
  content: '\f078';
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}


.skills{
  height: 100%;
  background-color: #6d8a91;
  margin-bottom: 5%;
}

.contact{
  height: 100%;
  background-color: #dbe9d8;
  padding-bottom: 5%;
  color: #333;
  margin-bottom: 5%;
}

.skills-logo{
  display: block;
  width: 60%;
  margin: 10% auto;
}

a.link-white {
  color: white;
}

a.link-black {
  color: black;
}

a.header{
  color: white;
  text-decoration: none;
  position: relative;
  transition-duration: .6s;
}

header{
  width: 100%;
  text-align: right;
  padding: 2em 0;
  position: fixed;
  z-index: 100;
  background-color: rgb(89, 92, 104);
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.5);
}

#wrapper {
  min-height: 100vh;
  position: relative;/*←相対位置*/
}

footer {
  width: 100%;
  background-color: #5C678B;
  color: #fff;
  text-align: center;
  padding: 2em 0;
  position: fixed;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  background-color: rgb(89, 92, 104);
}

a:hover{
  color: #FCC2C2;
  text-decoration: none;
}

a.header:hover:after{
  bottom: 0;
  content: '';
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translate(-50%,0);
  width: 60%;
  background-color: #FCC2C2;
}

.copy-right {
  text-align: center;
}

@media screen and (max-width:480px){
  /*画面幅が480pxまでの時*/

  body {
    margin: 0 auto;
  }

  header {
    display: none;
  }

  main {
    width: 90%;
    padding-top: 2%;
    margin: 0% auto;
    padding-bottom: 10%;
  }

  footer a {
    font-size: 1.5em;
    padding: 10px 0px;
    margin: 0 0.2em;
  }

  a.footer:hover:after{
    background-color: #FCC2C2;
  }
  
  article {
    margin-top: 10%;
  }

  section {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.5);
    transition: .3s;
    margin: 2em auto;
    padding: 0.1em 1.5em;
    font-size: 1.3em;
  }

  .section__about--photo-text{
    display: block;
  }
  
  .section__about--photo-text img{
    display: block;
    margin: 2em auto;
  }
  
  .section__about--edu-job-container{
    margin: 2em 0em;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .section__about-edu{
    display: flex;
  }
  
  .section__about-job{
  }
  
  .edu-list-icon{
    display: inline-block;
    vertical-align: top;
    width: 10%;
  }

  .edu-list-text{
    margin-top: 0;
    margin-left: 1em;
    display: inline-block;
    vertical-align: top;
    width: 80%;
  }
  
  .edu-list-text-title{
    display: block;
    padding-top: 0.5em;
    font-size: 1.4em;
    font-weight: 700;
  }

  .section__works--description{
    display: block;
  }

  .section__skills--container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .skills-item{
    display: inline-block;
  }

  .skills-description{
  }

  a.anchor{
    display: block;
    padding-top: 0.1em;
    margin-top: -0.1em;
  }

  .section--contact__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .section--contact__link{
    min-width: 15%;
  }

  .section--contact__logo {
    margin-top: 2em;
    width: 100%;
  }

}
@media screen and (min-width:781px){
  /*画面幅が781px以上の時*/

  body {
    margin: 0 auto;
  }

  nav {
    padding-right: 15%;
  }
  
  header a {
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 2.2em;
    margin-left: 2%;
  }

  main {
    width: 70%;
    padding-top: 10%;
    margin: 0% auto;
  }
  
  section {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.5);
    transition: .3s;
    margin: 0 auto;
    margin-bottom: 10%;
    padding: 1em 3em;
    font-size: 1.8em;
  }
  
  section:hover {
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.5);
  }
  
  .section__title {
    font-size: 2.2em;
    font-weight: 700;
  }

  .section__about--photo-text{
    display: flex;
  }
  
  .section__about--photo-text img{
    margin-right: 5%;
  }
  
  .section__about--edu-job-container{
    display: flex;
    margin: 2em 0em;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .section__about-edu{
    min-width: 50%;
  }
  
  .section__about-job{
    min-width: 50%;
  }
  
  .edu-list-icon{
    display: inline-block;
    vertical-align: top;
  }
  
  .edu-list-text{
    display: inline-block;
    margin-top: 1em;
    margin-left:2em;
    width: 65%;
  }
  
  .edu-list-text-title{
    display: block;
    padding: 1em 0em;
    font-size: 1.2em;
    font-weight: 700;
  }

  .section__works{
    display: inline;

  }

  .section__works--description-left{
    vertical-align: top;
    display: inline-block;
    max-width: 40%;
    margin-right: 8%;
  }  
  
  .section__works--description-right{
    vertical-align: top;
    display: inline-block;
    max-width: 40%;
    margin-left: 8%;
  }

  .section__skills--container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .skills-item{
    display: inline-block;
    width: 162px;
  }

  a.anchor{
    display: block;
    padding-top: 10%;
    margin-top: -10%;
  }

  .section--contact__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .section--contact__logo {
    margin-top: 2em;
  }

  footer{
    display: none;
  }

}

