html, body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'YuGothic', sans-serif;
}

html {
  font-size: 10px;
  background-color: #5C678B;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

/* h2.section--title__about{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(143, 114, 143);
}

h2.section--title__works{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(149, 150, 119);
}

h2.section--title__skills{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(122, 153, 136);
} */

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

.about{
  height: 100%;
  background-color: #BD97BE;
  margin-bottom: 5%;
}

.works{
  height: 100%;
  background-color: #BDBE97;
  margin-bottom: 5%;
}

.skills{
  height: 100%;
  background-color: #97BEA9;
  margin-bottom: 5%;
}

.contact{
  height: 100%;
  background-color: #BE9797;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

.skills-logo{
  display: block;
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width:480px){
  /*画面幅が480pxまでの時*/

  body {
    width: 90%;
    margin: 0 auto;
  }
  
  header {
    width: 100%;
    padding: 5% 0;
    margin-bottom: 5%;
    background-color: #5C678B;
    text-align: center;
  }

  header a {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 0.2em;
  }
  
  article {
    margin-top: 30%;
  }

  section {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.5);
    transition: .3s;
    margin: 2em auto;
    padding: 0.1em 1.5em;
    font-size: 1.3em;
  }

  .works--image {
    text-align: center;
  }

  .section__about--photo-text{
    display: block;
  }
  
  .section__about--photo-text img{
    display: block;
    margin: 2em auto;
  }
  
  .section__about--edu-job-container{
    margin: 2em 0em;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .section__about-edu{
    display: flex;
  }
  
  .section__about-job{
  }
  
  .edu-list-icon{
    display: inline-block;
    vertical-align: top;
    width: 10%;
  }
  
  /* .edu-list-content::before{
    content: '';
    position: absolute;
    width: 2px;
    margin-left: 4%;
    margin-top: 10%;
    height: 30%;
    background: white;
  } */

  .edu-list-text{
    margin-top: 0;
    margin-left: 1em;
    display: inline-block;
    vertical-align: top;
    width: 80%;
  }
  
  .edu-list-text-title{
    display: block;
    padding-top: 0.5em;
    font-size: 1.4em;
    font-weight: 700;
  }

  .section__works--description{
    display: block;
  }

  .section__skills--container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .skills-item{
    display: inline-block;
  }

  .skills-description{
  }

  a.anchor{
    display: block;
    padding-top: 0.1em;
    margin-top: -0.1em;
  }

  .section--contact__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .section--contact__logo {
    margin-top: 2em;
    width: 15%;
  }

}
@media screen and (min-width:781px){
  /*画面幅が781px以上の時*/

  body {
    width: 70%;
    margin: 0 auto;
  }
  
  header {
    text-align: right;
    padding: 5% 0;
  }
  
  header a {
    font-size: 2.2em;
    margin-left: 2%;
  }
  
  section {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.5);
    transition: .3s;
    margin: 0 auto;
    margin-bottom: 10%;
    padding: 1em 3em;
    font-size: 1.8em;
  }
  
  section:hover {
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.5);
  }
  
  .section__title {
    font-size: 2.2em;
    font-weight: 700;
  }

  .section__about--photo-text{
    display: flex;
  }
  
  .section__about--photo-text img{
    margin-right: 5%;
  }
  
  .section__about--edu-job-container{
    display: flex;
    margin: 2em 0em;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .section__about-edu{
    min-width: 50%;
  }
  
  .section__about-job{
    min-width: 50%;
  }
  
  .edu-list > li:not(:last-child)::before{
    content: '';
    position: absolute;
    margin-top: 70px;
    margin-left: 35px;
    width: 2px;
    height: 20%;
    background: white;
  }
  
  .edu-list-icon{
    display: inline-block;
    vertical-align: top;
  }
  
  .edu-list-text{
    display: inline-block;
    margin-top: 1em;
    margin-left:2em;
    width: 65%;
  }
  
  .edu-list-text-title{
    display: block;
    padding: 1em 0em;
    font-size: 1.2em;
    font-weight: 700;
  }

  .works--image {
    text-align: center;
  }

  .section__works{
    display: inline;

  }

  .section__works--description-left{
    vertical-align: top;
    display: inline-block;
    max-width: 40%;
    margin-right: 8%;
  }  
  
  .section__works--description-right{
    vertical-align: top;
    display: inline-block;
    max-width: 40%;
    margin-left: 8%;
  }

  .section__skills--container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .skills-item{
    display: inline-block;
    width: 162px;
  }

  a.anchor{
    display: block;
    padding-top: 1em;
    margin-top: -1em;
  }

  .section--contact__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .section--contact__logo {
    margin-top: 2em;
  }

}

